<!DOCTYPE html>

<html>
    <head>
        {% load static %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
        <title>Books and Readers</title>
        <style>
            .is-selected {
                color: #3273dc;
            }
            .block {
                padding: 20px 50px 0px
            }
            .forms {
                padding: 0px 0px 20px
            }
            .center-text {
                text-align: center;
            }
            .red {
                color: rgb(246, 76, 76)
            }
            .editFormContainer {
                background-color: rgb(222, 222, 222);
                padding: 20px;
            }
            .button {
                margin: 0px 0px 10px;
            }
            .button.is-primary {
                background-color: #3273dc;
            }
        </style>
    </head>
    <body>
        <main>
                <nav class="navbar is-dark">
                    <div class="navbar-brand">
                        <p class="navbar-item">DB Search</p>
                    </div>
        
                    <a class="navbar-item is-selected" id = "books-tab" href="{% url 'index' %}">
                        Books
                      </a>
                      <a class="navbar-item" id = "users-tab" href = "{% url 'users_page' %}">
                        Users
                      </a>
                </nav>
                <div class = "block" id = "books-content">
                <h1 class = "title is-4">Add a book</h1>
                <form class = "forms" method="post" action ="{% url 'add_book' %}" >
                    <div class = "field">
                    <label for="name">Book Name:</label>
                    <input type="text" id="name" name="name" required><br>
                </div>
                    <div class = "field">

                    <label for="price">Book Price: $</label>
                    <input type="number" step="0.01" id="price" name="price" required><br>
                </div>
                    <button type="submit" class="button is-primary">Add Book</button>
                </form>
                
                <h1 class = "title is-4">Add a search filter</h1>
                <form id="book-filter-form" class = "forms" method="post" action="{% url 'book_filter' %}">
                    <div class = "field">
                        <label for="dropdown1Book">Choose a key:</label>
                        <select id="dropdown1Book" name="key">
                            <option value="">Select an option</option>
                            <option value="name">Name</option>
                            <option value="price">Price</option>
                        </select>
                    </div>
                    
                    <div class = "field">
                        <label for="dropdown2Book">Choose a constraint:</label>
                        <select id="dropdown2Book" name="constraint">
                            <option value="">Select an option</option>
                            <option value="&lt;">&lt;</option>
                            <option value="=">=</option>
                            <option value="&gt;">&gt;</option>
                        </select>
                    </div>
                    <div class = "field">
                        <label for="textFieldBook">Choose a value:</label>
                        <input type="text" id="textFieldBook" name="value" placeholder="value">
                    </div>
                    <button type="submit" id="submitBtnBook" class="button is-success" disabled>Submit</button>
                    <button type="button" id="clearBtnBook" class="button">Clear</button>
                </form>
                <h1 class = "title is-4 ">Results</h1>
                {% if books %}
                {% for book in books %}
                <div class = "box">
                    <p><strong>Book Title: </strong>{{book.name}}</p>
                    <p><strong>Price: </strong>{{book.price}}</p>
                    <form method="post" action="{% url 'delete_book' book.pk %}">
                        <button type="submit" class="button is-danger is-small">Delete</button>
                    </form>
                    <button class="editButton button is-small">Edit</button>
                    <div class="editFormContainer is-hidden">
                        <form class="editForm" method="post" action="{% url 'update_book' book.pk %}">
                            <input type="hidden" name="book_id" id="editBookId" value={{book.pk}}>
                            <label for="editBookName"><strong>Book Title:</strong></label>
                            <input type="text" name="name" id="editBookName" value="{{ book.name }}">
                            <label for="editBookPrice"><strong>Price:</strong></label>
                            <input type="number" name="price" id="editBookPrice" value={{book.price}}>
                            <button type="submit" class="saveEditButton button is-success">Save</button>
                            <button type="button" class="cancelButton button">Cancel</button>
                        </form>
                    </div>
    
                </div>
                {% endfor %}
                {% else %}
                <div class="title is-4 center-text red">
                    No results
                </div>
                {% endif %}
            </div>
        </main>
        <script src="{% static 'js/scriptBook.js' %}"></script>

    </body>
    </html>