<!DOCTYPE html>

<html>
    <head>
        {% load static %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
        <title>Books and Readers</title>
        <style>
            /* extra styling */
            .is-selected {
                color: #3273dc;
            }
            .block {
                padding: 20px 50px 0px;
            }
            #user-filter-form {
                padding: 0px 0px 20px;
            }
            .center-text {
                text-align: center;

            }
            .red {
                color: rgb(246, 76, 76);
            }
            .editFormContainer {
                background-color: rgb(222, 222, 222);
                padding: 20px;
            }
            .button {
                margin: 0px 0px 10px;
            }
            .button.is-primary {
                background-color: #3273dc;
            }
        </style>
    </head>
    <body>
        <main>
                <nav class="navbar is-dark">
                    <div class="navbar-brand">
                        <p class="navbar-item">DB Search</p>
                    </div>
        
                    <a class="navbar-item" id = "books-tab" href="{% url 'index' %}">
                        Books
                      </a>
                      <a class="navbar-item is-selected" id = "users-tab" href="{% url 'users_page'%}">
                        Users
                      </a>
                </nav>

            <div class = "block " id = "users-content" >
                <h1 class = "title is-4">Add a user</h1>
                <form class = "forms" method="post" action ="{% url 'add_user' %}" >
                    <div class = "field">
                    <label for="name">User Name:</label>
                    <input type="text" id="name" name="name" required><br>
                </div>
                    <div class = "field">

                    <label for="age">User Age:</label>
                    <input type="number" id="age" name="age" required step="1"><br>
                </div>
                <div class = "field">
                    <label>User Liked Books:</label>
                    {{ checkboxForm.as_p }}
                </div>
                    <button class= "button is-primary" type="submit">Add User</button>
                
                </form>
                <h1 class = "title is-4">Add a search filter</h1>
                <form id="user-filter-form" method="post" action="{% url 'user_filter' %}">
                    <div class = "field">
                        <label for="dropdown1User">Choose a key:</label>
                        <select id="dropdown1User" name="key">
                            <option value="">Select an option</option>
                            <option value="userName">Name of user</option>
                            <option value="age">Age</option>
                            <option value="numBooks">Number of books liked</option>
                            <option value="typeBooks">Book includes</option>

                        </select>
                    </div>
                    
                    <div class = "field regular">
                        <label for="dropdown2User">Choose a constraint:</label>
                        <select id="dropdown2User" name="constraint">
                            <option value="">Select an option</option>
                            <option value="&lt;">&lt;</option>
                            <option value="=">=</option>
                            <option value="&gt;">&gt;</option>
                            
                        </select>
                    </div>
                    <div class = "field regular">
                        <label for="textFieldUser">Choose a value:</label>
                        <input type="text" id="textFieldUser" name="value" placeholder="value">
                    </div>
                    
                    <button type="submit" id="submitBtnUser" class = "regular button is-success" disabled>Submit</button>
                    <button type="button" id="clearBtnUser" class = "regular button">Clear</button>
                </form>
                <div class = "irregular is-hidden">
                    <form method="post" class = "field" action="{% url 'user_alt_filter' %}">
                        {{ checkboxForm.as_p }}
                        <button type="submit" id="submitBtnUser2" class= "button">Submit</button>
                        <button type="button" id="clearBtnUser2" class= "button">Clear</button>
                    </form>
                    </div>
                <h1 class = "title is-4">Results</h1>
                {% if users %}
                {% for user in users %}
                <div class = "box">
                    <p><strong>User: </strong>{{user.name}}</p>
                    <p><strong>Age: </strong>{{user.age}}</p>
                    <p><strong>Books Liked: </strong></p>
                    <ul>
                        {% for book in user.liked_books.all %}
                            <li>{{ book.name }}</li>
                        {% endfor %}
                    </ul>
                    <form method="post" action="{% url 'delete_user' user.pk %}">
                        <button type="submit" class= "button is-small is-danger">Delete</button>
                    </form>
                    <button class="editButton button is-small">Edit</button>
                    <div class="editFormContainer is-hidden">
                        <form class="editForm" method="post" action="{% url 'update_user' user.pk %}">
                            <input type="hidden" name="user_id" id="editUserId" value={{user.pk}}>
                            <label for="editUserName"><strong>Name:</strong></label>
                            <input type="text" name="name" id="editUserName" value="{{ user.name }}">
                            <label for="editUserAge"><strong>Age:</strong></label>
                            <input type="number" name="age" id="editUserAge" value={{user.age}}>
                            <div class = "field">
                                <label><strong>User Liked Books:</strong></label>
                                {{ checkboxForm.as_p }}
                            </div>
                            <button type="submit" class="saveEditButton button is-success">Save</button>
                            <button type="button" class="cancelButton button">Cancel</button>
                        </form>
                    </div>
                </div>
                {% endfor %}
                {% else %}
                <div class="title is-4 center-text red">
                    No results
                </div>
                {% endif %}
            </div>
        </main>
        <script src="{% static 'js/scriptUser.js' %}"></script>

    </body>
    </html>